<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<div  align="center">
    <h1>Calculate how much to charge</h1>

    <div th:text="${errorMessage}" style="padding:10px;color:red;font-weight:bold"></div>
    <form action="nightlycalculator" method="post">
        <table cellpadding="5px">
            <tr>
                <td>
                    <label for="startTime">Time you arrived:</label>
                </td>
                <td>
                    <select name="startTime" id="startTime">
                        <option value="0" selected>Select Start Time</option>
                        <option
                                th:each="time : ${T(com.Anita.babysitter.util.TimeMap).getStartTimeList()}"
                                th:value="${T(com.Anita.babysitter.util.TimeMap).map(time)}"
                                th:text="${time}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="bedTime">Time child went to bed *:</label>
                </td>
                <td>
                    <select name="bedTime"  id="bedTime">
                        <option value="0" selected>Select Bed Time</option>
                        <option
                                th:each="time : ${T(com.Anita.babysitter.util.TimeMap).getBedTimeList()}"
                                th:value="${T(com.Anita.babysitter.util.TimeMap).map(time)}"
                                th:text="${time}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="endTime">Time you left:</label>
                </td>
                <td>
                    <select name="endTime" id="endTime" >
                        <option value="0" selected>Select End Time</option>
                        <option
                                th:each="time : ${T(com.Anita.babysitter.util.TimeMap).getEndTimeList()}"
                                th:value="${T(com.Anita.babysitter.util.TimeMap).map(time)}"
                                th:text="${time}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <div align="center" style="padding:5px">
            <input type="submit" value="Calculate"/>
        </div>

        <div style="padding:5px">
            <p>If child was asleep when you arrived, use arrival time for bedtime.</p>
            <p>If child was still up when you left, use time you left for bedtime.</p>
        </div>


    </form>
</div>
</body>
</html>
